{% extends 'base.html.twig' %}

{% block title %}{{ meal.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 my-auto">
        <a href="{{ path('app_meal', {'slug': meal.slug}) }}">
            <img src="{{ asset('uploads/meal/' ~ meal.illustration) }}" alt="{{ meal.name }}" class="img-fluid">
        </a>
    </div>
    <div class="col-md-8">
        <h3>{{ meal.name }}</h3>
            <span class="meal-price">{{meal.price / 100 |number_format()}} €</span>
        <hr>
        <p>
            {{ meal.description }}
        </p>
        <a href="{{ path('app_meals') }}" class="btn-sm btn-primary">Revenir à la carte</a>

    </div>
</div>
{% endblock %}
