{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/le_quai.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/le_quai.js') }}"></script>
{% endblock %}

{% block content %}
    {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {{ app.session.flashBag.get('success')[0] }}
    </div>
    {% endif %}
    
    <h1>Reservation</h1>
    {{ form_start(form) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control form-control-sm js-booking-date', 'readonly': true}}) }}
    {{ form_errors(form.date) }}
    
    {% for hour in form.hours %}
        <div>
            {{ form_widget(hour) }}
            {{ form_label(hour) }}
        </div>
    {% endfor %}
    
    {{ form_end(form) }}
{% endblock %}
